---
import Home from "../../lion/Story.vue";

export const getStaticPaths = async () => {
  const chapterList = [
    { title: "活云", id: 20 },
    { title: "角楼", id: 21 },
    { title: "坠露", id: 22 },
    { title: "幻烛", id: 23 }
  ];
  // 假设这是你获取博客列表的函数，返回包含博客id的数组
  const paths = chapterList.map((chapter) => {
    return { params: { id: chapter.id }, props: { title: chapter.title } };
  });

  return paths;
};

const { id: idStr } = Astro.params;
const { title } = Astro.props;
const id = parseInt(idStr);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Home id={id} client:load />
  </body>
</html>
