<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elephant</title>
    <link rel="stylesheet" href="/elephant/index.css">
  </head>
  <body>
    <div id="article">
      <header>
        <h1>狮子击象</h1>
      </header>
    </div>
  </body>
</html>
