<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elephant</title>
    <link rel="stylesheet" href="/elephant/index.css" />
  </head>
  <body>
    <div id="article">
      <header>
        <h1>狮子击象</h1>
      </header>
      <article class="world-1">
        <h2>世界观：儒家种姓制</h2>
        <p>
          所有登场人物都有一个属于自己的身份，「身份」是其生存环境的基本体现。身份有五种：门阀、士族、庶族、奴隶、游民。
        </p>
        <h3>门阀：皇亲国戚、世家公卿</h3>
        <p>门阀，即统治者。</p>
        <h4>寡头政治</h4>
        <p>皇帝对门阀不具有压倒性的优势，皇室家族是特殊的门阀。</p>
        <h4>庄园系统</h4>
        <p>
          门阀家族通常会经营一个或数个庄园（公司），社会上绝大部分的经济活动都是以庄园为中心开展的（有些庄园甚至可以私铸货币）。在庄园内部，庄园主就像古代欧洲的领主，拥有至高无上的权力。庄园内的人口没有国民身份，无需给国家交税，只对庄园主及其家族负责。
        </p>
        <h3>士族：各级正式官员</h3>
        <p>士族，即体制内公务员。</p>
        <h4>清流和浊流</h4>
        <p>
          在官僚系统中，二品以上是「清流」（被门阀子弟垄断），二品以下是「浊流」（以普通士族为主），而九品以下则属于「流外」（以低阶士族、庶族士子为主）。
        </p>
        <h4>士族的人生选择</h4>
        <p>经营庄园、成为名士、入朝为官。</p>
        <p>
          经营庄园是门阀的特权，对普通士族来说，名士和官僚是他们最好的归宿。两种身份相辅相成，相互托衬，同时也是相互独立的。<b
            >庄园系统、官僚系统和名士系统交织在一起，共同构成了洛阳的上流社会。</b
          >
        </p>
        <h4>从士族到门阀</h4>
        <p>
          门阀阶层是完全封闭的圈子，普通士族想要成为门阀，唯一的路径就是在政变或战争中找到机会，借助混乱的力量突破重围。
        </p>
      </article>
    </div>
  </body>
</html>
