<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/fullpage/fullpage.min.css"
    />
    <script is:inline src="/public/fullpage/easings.min.js"></script>

    <script is:inline type="text/javascript" src="/public/fullpage/fullpage.js"
    ></script>
  </head>
  <body>
    <div id="fullpage">
      <div class="section">
        <div class="hero">
          <div class="hero-left">
            <div class="hero-left__title">From King to Exile to King Again</div>
            <div class="hero-left__para">In a series of events that have sent shockwaves through the tech world, Sam Altman, the founder and CEO of OpenAI, was recently fired from the company, only to make a remarkable comeback. This report delves into the rollercoaster of events that unfolded at OpenAI, highlighting the complexities and internal dynamics of one of the most influential companies in the AI sector.</div>
            <div class="hero-left__desc">
               Scroll down to continue
            </div>
          </div>
          <div class="hero-right">
            picture
          </div>
        </div>
      </div>
      <div class="section">
        <ul class="timeline">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">April 2011 - heute</p>
              <h3>Geil,Danke! GmbH</h3>
              <h4>Geschäftsführerin eines Web-Studios</h4>
              <p>
                <strong>Schwerpunkt: Frontend-Entwicklung</strong><br
                />Entwickeln von anspruchsvollen, animierten, responsive und
                adaptive Webseiten mit HTML5, SCSS, jQuery; für alle Browser,
                optimiert für Desktop, Notebook, Smartphones und Tablets (iOS,
                Android, Windows).
              </p>
              <p>
                <strong>Projektmanagement mit Scrum</strong><br />Ständiges
                Verbessern des agilen Entwicklungsprozesses beispielsweise durch
                Grunt, Yeoman, GIT, JIRA und BrowserStack.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="section">
        <ul class="timeline">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">April 2011 - heute</p>
              <h3>Geil,Danke! GmbH</h3>
              <h4>Geschäftsführerin eines Web-Studios</h4>
              <p>
                <strong>Schwerpunkt: Frontend-Entwicklung</strong><br
                />Entwickeln von anspruchsvollen, animierten, responsive und
                adaptive Webseiten mit HTML5, SCSS, jQuery; für alle Browser,
                optimiert für Desktop, Notebook, Smartphones und Tablets (iOS,
                Android, Windows).
              </p>
              <p>
                <strong>Projektmanagement mit Scrum</strong><br />Ständiges
                Verbessern des agilen Entwicklungsprozesses beispielsweise durch
                Grunt, Yeoman, GIT, JIRA und BrowserStack.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="section">
        <ul class="timeline">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">April 2011 - heute</p>
              <h3>Geil,Danke! GmbH</h3>
              <h4>Geschäftsführerin eines Web-Studios</h4>
              <p>
                <strong>Schwerpunkt: Frontend-Entwicklung</strong><br
                />Entwickeln von anspruchsvollen, animierten, responsive und
                adaptive Webseiten mit HTML5, SCSS, jQuery; für alle Browser,
                optimiert für Desktop, Notebook, Smartphones und Tablets (iOS,
                Android, Windows).
              </p>
              <p>
                <strong>Projektmanagement mit Scrum</strong><br />Ständiges
                Verbessern des agilen Entwicklungsprozesses beispielsweise durch
                Grunt, Yeoman, GIT, JIRA und BrowserStack.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="section">Some section</div>
    </div>

    <style>
      .hero{
        height: 100vh;
        display: flex;
      }
      .hero-left, .hero-right{
        width: 50%
      }
      .hero-left{
        padding: 10em 5em;
        box-sizing: border-box;
      }
      .hero-right{
        background-image: url(./ground/assets/pic1.png);
        background-size: 100%;
      }
      .hero-left__title{
        font-size: 2.5em;
        font-weight: 700;
      }
      .hero-left__para{
        font-size: 1.5em;
      }
      .hero-left__desc{
        text-align: center;
        margin-top: 40vh;
      }
      /* Variables */
      /* Fonts */
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
      body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.05em;
      }

      ::marker {
        color: red;
      }

      /* Layout */
      * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      /* Styling */
      .timeline {
        margin: 4em auto;
        position: relative;
        max-width: 46em;
        list-style-type: none;
      }
      .timeline:before {
        background-color: black;
        content: "";
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 4.5em;
        width: 2px;
        height: 100%;
      }

      .timeline-event {
        position: relative;
      }
      .timeline-event:hover .timeline-event-icon {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #a83279;
      }
      .timeline-event:hover .timeline-event-thumbnail {
        -moz-box-shadow: inset 40em 0 0 0 #a83279;
        -webkit-box-shadow: inset 40em 0 0 0 #a83279;
        box-shadow: inset 40em 0 0 0 #a83279;
      }

      .timeline-event-copy {
        padding: 2em;
        position: relative;
        top: -1.875em;
        left: 4em;
        width: 80%;
      }
      .timeline-event-copy h3 {
        font-size: 1.75em;
      }
      .timeline-event-copy h4 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
      }
      .timeline-event-copy strong {
        font-weight: 700;
      }
      .timeline-event-copy p:not(.timeline-event-thumbnail) {
        padding-bottom: 1.2em;
      }

      .timeline-event-icon {
        -moz-transition: -moz-transform 0.2s ease-in;
        -o-transition: -o-transform 0.2s ease-in;
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: black;
        outline: 10px solid white;
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        left: 2em;
        width: 1em;
        height: 1em;
      }

      .timeline-event-thumbnail {
        -moz-transition: box-shadow 0.5s ease-in 0.1s;
        -o-transition: box-shadow 0.5s ease-in 0.1s;
        -webkit-transition: box-shadow 0.5s ease-in;
        -webkit-transition-delay: 0.1s;
        transition: box-shadow 0.5s ease-in 0.1s;
        color: white;
        font-size: 0.75em;
        background-color: black;
        -moz-box-shadow: inset 0 0 0 0em #ef795a;
        -webkit-box-shadow: inset 0 0 0 0em #ef795a;
        box-shadow: inset 0 0 0 0em #ef795a;
        display: inline-block;
        margin-top: 0.2em;
        margin-bottom: 1.2em;
        padding: 0.25em 1em 0.2em 1em;
      }
    </style>
    <script>
      new fullpage("#fullpage", {
        //options here
        autoScrolling: true,
        scrollHorizontally: true
      });
    </script>
  </body>
</html>
