---
import MainHead from '../components/MainHead.astro';
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang={i18next.language}>
	<head>
		<MainHead title={title} description={description} />
	</head>
  <body>
<article>
<main>Hi! It's Agent Z here. </main>
<nav>
<a href="/home">
<svg t="1711552900048" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="21101" width="23" height="23"><path d="M512 85.333333c-98.261333 0-179.754667 35.712-235.242667 94.336-53.589333 56.597333-82.048 133.632-84.010666 216.874667C142.72 417.536 106.666667 465.344 106.666667 522.666667c0 71.68 55.914667 129.28 125.909333 136.085333 24 94.144 69.610667 173.653333 132.010667 224.128 8.874667 43.733333 47.893333 77.12 94.08 77.12 22.293333 0 40.192-7.445333 53.333333-14.826667 13.141333 7.381333 31.04 14.826667 53.333333 14.826667 46.208 0 85.226667-33.408 94.08-77.162667 62.4-50.453333 107.989333-129.962667 132.010667-224.085333C861.397333 651.946667 917.333333 594.346667 917.333333 522.666667c0-57.322667-36.053333-105.130667-86.08-126.122667-1.962667-83.242667-30.421333-160.277333-84.010666-216.874667C691.776 121.045333 610.261333 85.333333 512 85.333333z m0 64c83.072 0 145.578667 28.714667 188.757333 74.325334C743.936 269.269333 768 332.949333 768 405.333333v12.842667a32 32 0 0 0 25.621333 31.317333c7.36 1.493333 14.229333 4.245333 20.629334 7.722667a74.666667 48 90 0 0 0.042666 130.816A74.496 74.496 0 0 1 778.666667 597.333333h-12.010667a32 32 0 0 0-31.274667 25.408c-15.637333 74.325333-47.146667 136.490667-86.186666 180.373334-3.626667-10.666667-7.530667-21.12-11.477334-30.997334a678.976 678.976 0 0 0-12.629333-29.290666l5.546667-5.546667a32 32 0 1 0-45.269334-45.226667l-11.946666 11.946667H450.56l-11.946667-11.946667a32 32 0 0 0-22.976-9.728 32 32 0 0 0-22.293333 54.976l5.546667 5.546667c-3.818667 8.426667-8.021333 17.792-12.629334 29.269333-3.946667 9.898667-7.893333 20.373333-11.52 31.04-39.04-43.882667-70.528-106.090667-86.144-180.416A32 32 0 0 0 257.344 597.333333H245.333333c-13.013333 0-24.96-3.541333-35.541333-9.258666a74.666667 48 90 0 0-0.128-130.816c6.421333-3.498667 13.312-6.250667 20.693333-7.765334A32 32 0 0 0 256 418.176V405.333333c0-72.384 24.064-136.064 67.242667-181.674666S428.928 149.333333 512 149.333333z m-160 213.333334a53.802667 53.802667 0 0 0-53.333333 53.333333V448a32 32 0 0 0 0.533333 6.378667c1.28 18.346667 7.68 36.672 20.885333 51.541333C334.826667 522.517333 358.229333 533.333333 384 533.333333s49.173333-10.816 63.914667-27.413333C462.677333 489.322667 469.333333 468.437333 469.333333 448s-6.656-41.322667-21.418666-57.92c-13.354667-15.018667-33.898667-24.832-56.746667-26.666667A32 32 0 0 0 384 362.666667h-32zM640 362.666667a32 32 0 0 0-7.253333 0.746666c-22.826667 1.856-43.328 11.669333-56.661334 26.666667-13.312 14.976-19.733333 33.408-20.906666 51.882667A32 32 0 0 0 554.666667 448v160a32 32 0 1 0 64 0v-77.44c6.848 1.642667 13.930667 2.773333 21.333333 2.773333 25.770667 0 49.173333-10.816 63.914667-27.413333 13.312-14.976 19.733333-33.408 20.906666-51.882667A32 32 0 0 0 725.333333 448v-32c0-29.098667-24.234667-53.333333-53.333333-53.333333H640z m-256 64c9.770667 0 13.056 2.517333 16.085333 5.909333 3.029333 3.413333 5.248 9.194667 5.248 15.424s-2.218667 12.010667-5.248 15.424c-3.029333 3.413333-6.314667 5.909333-16.085333 5.909333s-13.056-2.517333-16.085333-5.909333c-3.029333-3.413333-5.248-9.194667-5.248-15.424s2.218667-12.010667 5.248-15.424c3.029333-3.413333 6.314667-5.909333 16.085333-5.909333z m256 0c9.770667 0 13.056 2.517333 16.085333 5.909333 3.029333 3.413333 5.248 9.194667 5.248 15.424s-2.218667 12.010667-5.248 15.424c-3.029333 3.413333-6.314667 5.909333-16.085333 5.909333s-13.056-2.517333-16.085333-5.909333c-3.029333-3.413333-5.248-9.194667-5.248-15.424s2.218667-12.010667 5.248-15.424c3.029333-3.413333 6.314667-5.909333 16.085333-5.909333z m-182.293333 341.333333h108.586666c3.562667 7.829333 7.637333 16.96 11.989334 27.882667 10.112 25.28 19.029333 57.429333 19.050666 68.117333 0-4.8-0.042667-4.501333-0.213333 1.493333a32 32 0 0 0 0 0.554667A31.381333 31.381333 0 0 1 565.333333 896c-17.770667 0-30.72-11.946667-30.72-11.946667a32 32 0 0 0-45.226666 0s-12.949333 11.946667-30.72 11.946667c-17.28 0-30.656-12.821333-31.786667-29.76a32 32 0 0 0 0-0.704c-0.170667-5.888-0.213333-6.336-0.213333-1.536 0-10.666667 8.917333-42.816 19.050666-68.117333 4.352-10.922667 8.426667-20.053333 11.989334-27.882667z" p-id="21102"></path></svg></a>
<a><svg t="1711551967587" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="15114" width="25" height="25"><path d="M438.4 849.1l222.7-646.7c0.2-0.5 0.3-1.1 0.4-1.6L438.4 849.1z" opacity=".224" p-id="15115"></path><path d="M661.2 168.7h-67.5c-3.4 0-6.5 2.2-7.6 5.4L354.7 846c-0.3 0.8-0.4 1.7-0.4 2.6 0 4.4 3.6 8 8 8h67.8c3.4 0 6.5-2.2 7.6-5.4l0.7-2.1 223.1-648.3 7.4-21.4c0.3-0.8 0.4-1.7 0.4-2.6-0.1-4.5-3.6-8.1-8.1-8.1zM954.6 502.1c-0.8-1-1.7-1.9-2.7-2.7l-219-171.3c-3.5-2.7-8.5-2.1-11.2 1.4-1.1 1.4-1.7 3.1-1.7 4.9v81.3c0 2.5 1.1 4.8 3.1 6.3l115 90-115 90c-1.9 1.5-3.1 3.8-3.1 6.3v81.3c0 4.4 3.6 8 8 8 1.8 0 3.5-0.6 4.9-1.7l219-171.3c6.9-5.4 8.2-15.5 2.7-22.5zM291.1 328.1l-219 171.3c-1 0.8-1.9 1.7-2.7 2.7-5.4 7-4.2 17 2.7 22.5l219 171.3c1.4 1.1 3.1 1.7 4.9 1.7 4.4 0 8-3.6 8-8v-81.3c0-2.5-1.1-4.8-3.1-6.3l-115-90 115-90c1.9-1.5 3.1-3.8 3.1-6.3v-81.3c0-1.8-0.6-3.5-1.7-4.9-2.7-3.5-7.7-4.1-11.2-1.4z" p-id="15116"></path></svg></a>
<!-- <a href="/elephant">elephant</a> -->
<a><svg t="1711552038157" class="icon" viewBox="0 0 1032 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="16198" width="18" height="18"><path d="M963.764706 1024H68.840336a68.840336 68.840336 0 0 1 0-137.680672h894.92437a68.840336 68.840336 0 0 1 0 137.680672zM216.158655 715.939496a34.420168 34.420168 0 0 1-37.517983 7.228235l-83.98521 16.865882 16.865883-84.329411a34.075966 34.075966 0 0 1 7.228235-37.173782L727.298151 9.981849a34.420168 34.420168 0 0 1 48.532437 0l48.876639 48.532437a34.695529 34.695529 0 0 1 0 48.876638z" fill="#333333" p-id="16199"></path></svg></a>
<a><svg t="1711552505761" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="26101" width="24" height="24"><path d="M810.666667 384a170.666667 170.666667 0 0 0-170.666667-170.666667V128a42.666667 42.666667 0 0 0-85.333333 0v85.333333h-85.333334V128a42.666667 42.666667 0 0 0-85.333333 0v85.333333H256a42.666667 42.666667 0 0 0 0 85.333334h42.666667v426.666666H256a42.666667 42.666667 0 0 0 0 85.333334h128v85.333333a42.666667 42.666667 0 0 0 85.333333 0v-85.333333h85.333334v85.333333a42.666667 42.666667 0 0 0 85.333333 0v-85.333333a170.666667 170.666667 0 0 0 111.786667-298.666667A170.666667 170.666667 0 0 0 810.666667 384z m-170.666667 341.333333H384v-170.666666h256a85.333333 85.333333 0 0 1 0 170.666666z m0-256H384V298.666667h256a85.333333 85.333333 0 0 1 0 170.666666z" p-id="26102"></path></svg></a>
</nav>
</article>
<style>
  body{
    width: 100vw;
    height: 100vh;
  }
  article{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  nav{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a{
    width: 60px;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
  }
</style>
	</body>
</html>