---
const chapterList = [
  { title: "活云", tag: "story", path: "/lion/20" },
  { title: "角楼", tag: "story", path: "/lion/21" },
  { title: "坠露", tag: "story", path: "/lion/22" },
  { title: "幻烛", tag: "story", path: "/lion/23" }
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lion</title>
    <link rel="stylesheet" href="/lion/index.css" />
  </head>
  <body>
    <ul>
      <h3 class="title">狮子击象</h3>
      {
        chapterList.map((item) => (
          <li>
            <a href={item.path}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <style lang="scss">
      body,
      html {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: "SongTi SC";
      }
      .title {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 30px;
        letter-spacing: 4px;
      }
      ul {
        height: 100vh;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -54px;
        li {
          cursor: pointer;
          text-decoration: underline;
          line-height: 1.4;
          margin-top: 8px;
          list-style-type: none;
        }
      }
      a {
        text-decoration: none;
        color: #000;
      }
    </style>
  </body>
</html>
