---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack lg:gap-4">
		<p>Agent.Z - Code Version</p>
		<p>Front-End Engineer</p>
		<p>7 Years Development Experience</p>
		<p>Hangzhou, China</p>
		<div class="underline"></div>
		<div class="roles">      
      <Icon icon="github-logo" size="1.33em" />
      <Icon icon="email" size="1.33em" />
      <Icon icon="twitter-logo" size="1.33em" />
    </div>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
	.roles{
		display: flex;
		justify-content: space-around;
	}

	.underline{
		border-bottom: 1px solid var(--gray-800)
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
		display: flex;
		align-items: center;
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
